.intro-home,
.intro-video,
.intro-tuto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--index-bg-2);
}

.intro-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.intro-home__img {
    width: 60vw;
    height: auto;
    object-fit: contain;
    aspect-ratio: 16/9;
    visibility: visible;
}

.intro-home__text {
    width: clamp(300px, 30vw, 1000px);
    font-size: clamp(24px, 2vw, 80px);
    line-height: clamp(64px, 2vw, 120px);
    text-align: center;
    margin: 0;
    margin-top: 90px;
    visibility: visible;
}

.intro-home__text .sign {
    transform: translateY(clamp(-10px, 2vw, 15px));
}

.sign {
    display: inline-block;
    width: clamp(51px, 2vw, 100px);
    height: clamp(50px, 2vw, 100px);
    background-image: url('./assets/ui/orange-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.sign img {
    width: 100%;
    height: auto;
}

.sign-big {
    width: clamp(70px, 4vw, 200px);
    height: clamp(70px, 4vw, 200px);
}
.sign-big img {
    width: 100%;
    height: auto;
}

.intro-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.intro-video__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/10;
}

.intro-tuto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.intro-tuto__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70vw;
    gap: 5vw;
    row-gap: 8vw;
}

.intro-tuto__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32.5vw;
    gap: 2vw;
}

.intro-tuto__signs {
    display: flex;
    gap: 1vw;
}

.intro-tuto__signs-image {
    width: clamp(80px, 10vw, 500px);
    height: auto;
}

.intro-tuto__text {
    text-align: center;
    margin: 0;
    font-size: clamp(24px, 2vw, 80px);
    transform: translateY(-10%);
}

.visibility {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}
.fade-in {
    animation: fade-in 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}
.fade-out {
    animation: fade-out 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}
@keyframes fade-out {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
        visibility: hidden;
    }
}
