:root {
    --index-bg-1: 1;
    --index-bg-2: 2;
    --index-bg-3: 3;
    --index-bg-4: 4;
    --index-bg-5: 5;
    --index-canvas: 6;
    --index-ui: 10;
    --color-main: #fff;
    --color-background: #000;
    --color-accent: #de8a2d;
    --vh: 100vh;
    --vw: 100vw;
}

@font-face {
    font-family: 'Lacquer';
    src: url('./assets/fonts/Lacquer-Regular.woff2') format('woff2'),
        url('./assets/fonts/Lacquer-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.cursor {
    z-index: var(--index-ui);
    position: absolute;
    top: calc(var(--vh) - (var(--vw) / 2880) * 350);
    left: calc(var(--vw) * 0.45);
    transform: rotate(180deg) scale(4);
    offset-path: path(
        'M539 197.385C522.819 155.859 473.219 84.1722 431.8 47.4285C377.189 -1.01814 263.921 -7.94008 187.06 17.4374C103.607 44.9917 17.1585 137.402 3 202'
    );

    offset-distance: 50%;
}

html,
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: transparent;
}

body {
    font-family: 'Lacquer', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

canvas {
    z-index: var(--index-canvas);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.background-wrapper {
    border: 1px solid red;
    position: relative;
    width: 100%;
    height: calc(100% - 2px);
    overflow: hidden;
}

.intro {
    z-index: var(--index-bg-1);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
}

#lottie {
    z-index: var(--index-ui);
    position: absolute;
    top: 80px;
    left: 180px;
}

#lottie svg {
    width: 100%;
    height: 100%;
}

.end {
    z-index: var(--index-ui);
    position: fixed;
    width: 100%;
    height: 100%;
}

.char1 {
    background-image: url('./assets/images/characters/red-rest.png');
}

.char2 {
    background-image: url('./assets/images/characters/yellow-rest.png');
}

.char1Fart {
    background-image: url('./assets/images/characters/red-fart.png');
}

.char2Fart {
    background-image: url('./assets/images/characters/yellow-fart.png');
}

.char {
    z-index: var(--index-canvas);
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    opacity: 0;
}

.score {
    z-index: var(--index-ui);
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 54px;
    opacity: 0;
}

.active {
    opacity: 1;
}
